{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>kip-ventory</title>
    <link rel="stylesheet" href="{% static 'css/superhero.bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/flatly.bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>

  <body>
    {% block content %}

    {% endblock content %}
  </body>

</html>
